@import '../scss/variables';

html, body {
  margin: 0;
  padding: 0;
  background-image: url('/../assets/images/background.jpg');
  font-family: Futura PT wf,Helvetica,Arial,sans-serif;

  .nav {
    height: 60px;
    background-color: $nav-color;
    display: flex;
    align-items: center;
    padding: 5px 40px;
    justify-content: space-between;

    .title {
      color: $main-color;
      cursor: help;
    }

    .pop-up {
      color: #c6a869;
      border: 5px solid $main-color;
      padding: 20px 35px;
      position: absolute;
      left: 141px;
      top: -190px;
      background-color: $nav-color;
      transform: rotate(-90deg);
      transition: all ease-in-out 0.5s;
      border-radius: 0 30px 30px;
      max-width: 210px;
      font-size: 18px;
    }

    .logo:hover .pop-up {
      top: 45px;
      transform: rotate(0);
    }

    a {
      color: $light-gray-color;
      text-decoration: none;
      padding: 0 10px;

      &.active {
        color: #c6a869;
      }
    }

    img {
      width: 50px;
    }
  }

  .container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: $screen--lg) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    &__list {
      margin: 0 20px;

      h2 {
        color: $light-gray-color;
      }

      &__card {
        margin: 20px 10px;
        padding: 5px 20px;
        border-radius: 0 30px 30px;
        transition: all ease-in-out 0.3s;
        background-color: $card-color;
        position: relative;
        box-shadow: $box-shadow;

        &--first {
          @include card-effect($light-red-color);
        }

        &--second {
          @include card-effect($light-blue-color);
        }

        &--third {
          @include card-effect($light-green-color);
        }

        p {
          margin: 10px 0;
        }
      }
    }
  }

  .bold {
    font-weight: bold;
  }

  .delete {
    color: #f00;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

  .empty {
    color: #e88383;
    font-size: 20px;
  }
}
