@import '../../../../scss/variables';

.add-list {
  border: 5px solid #ccc;
  border-radius: 6px;
  padding: 20px 30px;
  background-color: #dddddd;
  min-width: 270px;
  margin: 0 auto;
  @media (min-width: $screen--sm) {
    min-width: 360px;
  }

  h2 {
    color: #e88383;
  }

  &__field {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      margin-right: 10px;
      width: 50%;
    }

    input, select {
      padding: 7px;
      width: 50%;
    }

    select {
      border-color: #a9a9a9;
    }
  }

  button {
    padding: 10px;
    margin: 10px;
    background-color: #d0d0d0;
    border-radius: 6px;
  }
}

